<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav></nav>

  <main>
    <div class="container">
      <div class="card">

        <a href="/checkin" class="pontobutton">Check-in</a>
        <a href="/lunchout" class="pontobutton">Lunch-out</a>
        <a href="/lunchin" class="pontobutton">Lunch-in</a>
        <a href="/checkout" class="pontobutton">Check-out</a>

      </div>
    </div>
  </main>

  <footer></footer>

</body>

</html>