<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav></nav>

  <main>
    <div class="container">
      <div class="card">

          <form action="/lunchin?_method=put" method="post">
            <label for="matricula">Digite sua matricula:</label>
            <br><br>
            <input type="text" name="matricula" id="matricula" class="input" autofocus="autofocus">
            <br><br>
            <button id="verificar">Finalizar</button>
          </form>

      </div>
    </div>
  </main>

  <footer></footer>

  <script src="/javascripts/main.js"></script>

</body>

</html>